/* Typography */
body > .container-fluid {
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 14px;
    letter-spacing: 0.5px;
    vertical-align: baseline;
}

body #mainframe {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin-bottom: 15px;
    word-spacing: 1px;
    word-wrap: break-word;
}

ul,
ol,
pre,
table,
blockquote {
    margin-top: 0;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
}

.entry-content ul:not(.nav) {
    margin-left: 25px;
    list-style: square;
}

.entry-content ol {
    margin-left: 25px;
    list-style: decimal;
}

table:not(.table),
table:not(.table) td,
table:not(.table) tr,
table:not(.table) th {
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 5px;
}

.calendar_wrap table,
.calendar_wrap td,
.calendar_wrap tr,
.calendar_wrap th {
    border: none;
}

select {
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    /*font-family: inherit;*/
    /*font-size: inherit;*/
    /*line-height: inherit;*/
    /*padding: 7px;*/
}

li {
    letter-spacing: 0.5px;
    line-height: 1.7;
    word-spacing: 1px;
}

header .navbar {
    padding: 0;
}

li.menu-item {
    line-height: 50px;
}

label {
    font-weight: bold;
}

sub,
sup {
    font-size: 80%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    font-weight: 300;
}

pre {
    background: rgba(0, 0, 0, .05);
    border-radius: 4px;
    line-height: normal;
    margin-bottom: 1.5em;
    padding: 20px;
    overflow: auto;
}

th {
    font-weight: bold; /* Make sure they're bold */
}

textarea,
input {
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 10px 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
}

.widget input {
    box-sizing: border-box;
}

textarea:focus,
input:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #eeeeee;
}

.w3eden .btn {
    font-weight: 600;
}

input[type="submit"]:not(.btn),
input[type="reset"]:not(.btn) {
    color: #ffffff;
    background: #435ec4;
    padding: 10px 20px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #435ec4;
    border-radius: .25rem;
    transition: all ease-in-out 400ms;
}

button:hover:not(.btn),
input[type="submit"]:not(.btn):hover,
input[type="reset"]:not(.btn):hover {
    cursor: pointer;
    background: #4966d6;
}

button:hover:not(.btn):active,
input[type="submit"]:not(.btn):focus,
input[type="reset"]:not(.btn):focus {
    cursor: pointer;
    background: #354a9c;
}

.checkbox,
.radio {
    display: inline-block;
    position: relative;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 6px 6px 0 0;
}

input.form-control.file {
    border-color: transparent;
    padding: 0 0 20px;
}

caption {
    text-align: left;
    caption-side: top;
}

b,
dt,
strong,
th {
    font-weight: 700;
}

blockquote {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 25px;
    font-style: italic;
    position: relative;
    margin: 25px 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    font-size: 13pt;
}

blockquote strong,
blockquote b {
    font-weight: 500;
}

.attire-content blockquote p,
blockquote p {
    margin-bottom: 10px;
    font-style: normal;
    font-size: 18px;
}

blockquote cite {
    font-size: 11px;
    color: #999999;
}

.post-author-info .author-name {
    margin-bottom: 5px;
}

.post-author-info .media img {
    max-height: 96px;
}

.clear {
    clear: both;
}

.list-group-item, .card, .card-header, .card-footer, .form-control, .input-group-text {
    border-color: #e5e5e5;
}

.input-group-text,
.card-header, .card-footer {
    background-color: #fafafa;
}

.card + .card {
    margin-top: 15px;
}

/*--------------------------------------------------------------
## Contents
--------------------------------------------------------------*/
/*Image alignment */
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignleft:after {
    clear: both;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

.aligncenter:after {
    clear: both;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.alignright:after {
    clear: both;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail,
img {
    height: auto;
    max-width: 100%;
}

.wp-caption {
    margin-bottom: 1em;
    max-width: 100%;
    position: relative;
}

.wp-caption .wp-caption-text {
    font-size: 75%;
    padding-top: 5px;
    opacity: .8;
}

.wp-caption img[class*=wp-image-] {
    display: block;
    margin: 0;
    max-width: 100%;
}

.wp-caption img {
    position: relative;
    vertical-align: bottom;
}

.alert {
    border: 0;
    border-radius: 0;
    border-top: 2px solid;
    letter-spacing: .3px;
}

.alert.alert-danger {
    border-color: var(--color-danger);
    color: var(--color-danger);
    background-color: rgba(var(--color-danger-rgb), 0.05);
}

#mainframe .alert.alert-danger a {
    color: var(--color-danger);
}

.alert.alert-info {
    border-color: var(--color-info);
    color: var(--color-info);
    background-color: rgba(var(--color-info-rgb), 0.05);
}

#mainframe .alert.alert-info a {
    color: var(--color-info);
}

.alert.alert-success {
    border-color: var(--color-success);
    color: var(--color-success);
    background-color: rgba(var(--color-success-rgb), 0.05);
}

#mainframe .alert.alert-success a {
    color: var(--color-success);
}

.alert.alert-primary {
    border-color: var(--color-primary);
    color: var(--color-primary);
    background-color: rgba(var(--color-primary-rgb), 0.05);
}

#mainframe .alert.alert-primary a {
    color: var(--color-primary);
}

span[id*=more-]:before {
    content: 'Read More...';
}

.sticky .post-title::before {
    content: '\f0f3';
    font-family: "Font Awesome 5 Free";
    color: #fff;
    margin-top: 1px;
    font-weight: 400 !important;
    position: absolute;
    top: 20px;
    font-size: 12pt;
    padding: 7px 10px;
    background: #435ec4;
    width: 35px;
    border-radius: 3px;
}

.sticky .card {
    background-color: rgba(108, 117, 125, 0.05);
    color: #fff;
}

.archive-item .post-title a {
    text-decoration: none;
    color: black;
}

.archive-item .card-title.post-title {
    margin-top: 0;
}

.circle {
    border-radius: 500px;
}

.small-menu a:hover,
.archive-item .post-title a:hover,
.menu-item:hover a {
    text-decoration: none;
}

/* card */
.archive-item .card {
    border-color: #eeeeee;
}

.card-body {
    padding: 25px 25px 20px;
}

.archive-item .card-title.post-title a {
    font-weight: 600;
    color: #444;
    font-size: 26px;
    letter-spacing: 0;
}

.attire-content a:not(.btn):hover {
    color: #111;
}

.attire-content .archive-item p {
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
}

.attire-content .archive-item p:last-child {
    margin-bottom: 0;
}

/*END:Image alignment */
.author-page .card {
    /*width: 16rem;*/
}

.archive-title {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.attire-content {
    padding-top: 15px;
    padding-bottom: 15px;
}

#search-top a {
    padding-right: 0;
}

#search-top .dropdown-item {
    padding: 0;
}

.mobile-search {
    padding-top: 7px;
}

/** Post Meta CSS **/

.post-meta.card-footer.post-meta-bottom {
    background-color: #fcfcfc;
    font-weight: 300;
    font-size: 11px;
    padding: 0 25px;
    border-color: #eee;
}

.post-meta .single-post {
    margin-top: 20px;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.post-meta .meta-list {
    padding: 20px 0;
    overflow: auto;
    margin: 0;
}

.single-post.type-post h1 {
    margin-top: 30px;
}

.single-post .meta-list {
    padding: 10px 0;
    overflow: auto;
    font-size: 11px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.single-post .meta-list li:not(:last-child) {
    display: inline-block;
}

.post-meta .meta-list a {
    font-weight: 500;

}

.post-meta .meta-list span.bold,
.post-navs {
    text-decoration: none;
    font-weight: 600;
}

.wp-post-image {
    width: 100%;
}

.single-post .wp-post-image {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.single-post-content,
.single-page.framed .entry-content {
    padding: 30px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
}

.post-meta .meta-list span:not(.bold),
.post-navs i {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
    margin-right: 4px;
}

.card-footer .btn-readmore {
    font-size: 12px;
}

.gallery-caption {
    display: block;
}

.author-image {
    width: 64px;
}

a.read-more-link {
    text-decoration: none;
    font-weight: 500;
}

.attire-content .sidebar ul {
    list-style: none;
    padding-left: 0;
}

.customize-partial-edit-shortcut button,
.widget .customize-partial-edit-shortcut button {
    left: 0 !important;
}

.site-description {
    white-space: nowrap;
    font-size: 1em;
    margin-top: 0;
}

.logo-header.site-title {
    margin: 0 0 5px 0;
}

.navigation .screen-reader-text {
    display: none;
}

.nav-links {
    margin: 5px auto;
}

ul.pagination li,
ul.pagination {
    list-style: none;
}

ul.pagination li span,
ul.pagination li a {
    border: 1px solid rgba(0, 0, 0, .125);
    background: #ffffff;
    border-radius: 2px;
    padding: 10px 15px;
    margin-right: 3px;
    min-width: 32px;
    min-height: 32px;
    font-size: 10pt;
    font-weight: 500;
}

ul.pagination a {
    text-decoration: none;
    cursor: pointer;
}

a.dropdown-item {
    background-color: transparent !important;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#sticky-wrapper {
    z-index: 9999999 !important;
    -webkit-transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms;
    -ms-transition: ease-in-out 300ms;
    -o-transition: ease-in-out 300ms;
    transition: ease-in-out 300ms;
}

#sticky-wrapper nav {
    z-index: 9999999 !important;
}

.dropdown-submenu {
    /*position: relative;*/
}

footer li.menu-item {
    padding: 0;
}

footer li.nav-item:not(.desktop-search) a {
    padding: 0 10px;
}

footer li.menu-item:last-child a {
    padding-right: 0;
}

footer ul {
    margin-bottom: 0;
}

header .dropdown-menu {
    left: 0;
    margin-top: 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

header .dropdown-menu li {
    margin-right: 1px;
}

.dropdown-menu .fa.fa-caret-down {
    transform: rotate(-90deg);
}

footer .dropdown-menu {
    margin-top: -1px;
}

.dropdown ul {
    padding: 0;
}

.dropdown ul li {
    width: 100%;
}

.dropdown ul li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown ul li a {
    background-color: transparent;
}

header .dropdown-submenu .dropdown-menu {
    top: -2px;
    left: 100%;
    line-height: 40px;
}

footer .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
}

.collapse.navbar-collapse {
    min-height: 100%;
    height: 100%;
}

header .widget-search-form {
    display: none;
}

.widget .ul-search {
    display: none;
}

.navbar .nav-item a {
    white-space: nowrap;
}

.dropdown-menu {
    border-radius: 0;
}

.dropdown-toggle::after {
    display: none;
}

.navigation2 .small-menu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Navigation 1; Navigation 6 -> in Source */
.navigation1 .middle-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    margin-top: 0;
}

.header-div {
    background-color: unset !important;
}

.short-nav.navbar #header3_menu.collapse.navbar-collapse,
.short-nav.navbar #header2_menu.collapse.navbar-collapse {
    background-color: transparent !important;
}

#header-2 h1.logo-header,
#header-3 h1.logo-header {
    line-height: 50px;
}

#header-style-4 .logo-div img {
    margin-top: 20px;
    margin-bottom: 20px;
}

#header-style-3 .logo-div img,
#header-style-2 .logo-div img {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
}

/*  small menu */

.small-menu {
    min-height: 40px;
}

.small-menu .small-menu .list-inline {
    margin: 8px 0;
}

.small-menu .social-link,
.small-menu .info-link {
    line-height: 18px;
}

.small-menu .middle-social-icon li,
.small-menu .social-link {
    padding: 0 !important;
}

.small-menu .social-link img {
    width: 18px;
}

.small-menu .social-link > li,
.small-menu .info-link > li {
    font-size: 12px;
    padding-right: 12px;
    padding-left: 0;
    cursor: pointer;
}

.small-menu .social-link > li > span,
.small-menu .info-link > li > span {
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-left: 6px;
    word-spacing: 2px;
}

.social-icons-div li.list-inline-item {
    padding: 0 6px;
}

#header-style-2 .social-icons-div ul li {
    padding-right: 0;
}

#header-style-2 .social-icons-div ul li,
#header-style-2 .social-icons-div ul {
    margin: 0;
}

#header-style-2 .social-link img {
    width: 20px;
}

.small-menu .list-inline li:last-child {
    padding-right: 0 !important;
}

/* middle header */
.middle-header {
    min-height: 65px;
}

.middle-header .middle-logo > .site-logo {
    letter-spacing: 0.3px;
    line-height: 2;
    text-decoration: none;
}

.site-description {
    padding-top: 10px;
}

.site-logo {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

#mobile-search-icon {
    padding-left: 0;
}

/*.middle-header .middle-logo > .site-logo img.site-logo {*/
/*filter: contrast(0.2) saturate(9);*/
/*max-width: 120px;*/
/*padding-top: 20px;*/
/*}*/

.middle-header .middle-social-icon {
    margin-bottom: 0;
}

.social-icons-div {
    margin-bottom: auto;
    margin-top: auto;
}

.middle-header .middle-social-icon > li {
    padding: 0;
}

.middle-header .middle-social-icon img {
    width: 32px;
}

#header-1 .middle-header .site-logo {
    padding-top: 0;
}

#header-1 .middle-header .site-description {
    font-weight: 400;
    opacity: .8;
    font-size: 15px;
    letter-spacing: +.6px;
    padding: 0;
    margin: 0;
}

#header-1 .middle-header {
    padding: 53px 0;
    position: relative;

}

#header-4 .middle-logo.logo-div {
    text-align: center;
}

#header-4 .middle-logo.logo-div a {
    margin: 0;
}

#header-5 #top-bar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    background: rgba(0, 0, 0, 0.02);
}

#header-5 #top-bar .list-inline {
    margin: 0;
}

#header-5 #top-bar .list-inline li {
    line-height: 38px;
}

#header-5 .middle-header {
    padding: 22px 0;
    position: relative;

}

#header-5 .site-logo img {
    height: 40px;
    max-height: 40px;
}

#header-5 #header-search-field {
    margin: 0 40px;
}

#header-5 .middle-header .btn,
#header-5 #header-search-field .form-control {
    border-radius: 3px;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
    transition: all ease-in-out 400ms;
    color: #666666;
}

#header-5 .middle-header .btn:focus,
#header-5 .middle-header .btn:active,
#header-5 #header-search-field .form-control:focus {
    border: 1px solid #dddddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.09);
}

#header-5 .middle-header .btn:hover {
    background: #fafafa;
}

#header-5 #header-search-field .form-control {
    padding-left: 38px;
    background: #ffffff url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDMxMC40MiAzMTAuNDIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMxMC40MiAzMTAuNDI7IiB4bWw6c3BhY2U9InByZXNlcnZlIiBjbGFzcz0iIj48Zz48Zz4KCTxnPgoJCTxwYXRoIGQ9Ik0yNzMuNTg3LDIxNC45NjVjNDkuMTEtNDkuMTExLDQ5LjEwOS0xMjkuMDIxLDAtMTc4LjEzMmMtNDkuMTExLTQ5LjExMS0xMjkuMDItNDkuMTExLTE3OC4xMywwICAgIEM1My43OTMsNzguNDk3LDQ3LjQ4MywxNDAuNDYyLDc2LjUxLDE4OC44NWMwLDAsMi4wODUsMy40OTgtMC43MzEsNi4zMTJjLTE2LjA2NSwxNi4wNjQtNjQuMjYzLDY0LjI2My02NC4yNjMsNjQuMjYzICAgIGMtMTIuNzkxLDEyLjc5LTE1LjgzNiwzMC42NzUtNC40OTMsNDIuMDJsMS45NTMsMS45NTFjMTEuMzQzLDExLjM0NSwyOS4yMjksOC4zMDEsNDIuMDE5LTQuNDljMCwwLDQ4LjA5Ni00OC4wOTcsNjQuMTI4LTY0LjEyOCAgICBjMi45NTEtMi45NTEsNi40NDgtMC44NjYsNi40NDgtMC44NjZDMTY5Ljk1OCwyNjIuOTM4LDIzMS45MjMsMjU2LjYyOSwyNzMuNTg3LDIxNC45NjV6IE0xMTguNzExLDE5MS43MSAgICBjLTM2LjI4OC0zNi4yODgtMzYuMjg3LTk1LjMzMiwwLjAwMS0xMzEuNjJjMzYuMjg4LTM2LjI4Nyw5NS4zMzItMzYuMjg4LDEzMS42MTksMGMzNi4yODgsMzYuMjg3LDM2LjI4OCw5NS4zMzIsMCwxMzEuNjIgICAgQzIxNC4wNDMsMjI3Ljk5NiwxNTUsMjI3Ljk5NiwxMTguNzExLDE5MS43MXoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6I0E4NTdDRCIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiPjwvcGF0aD4KCQk8Zz4KCQkJPHBhdGggZD0iTTEyNi43NSwxMTguNDI0Yy0xLjY4OSwwLTMuNDA2LTAuMzMyLTUuMDYxLTEuMDMxYy02LjYxMS0yLjc5OC05LjcwNC0xMC40MjYtNi45MDYtMTcuMDM4ICAgICBjMTcuNTg2LTQxLjU1OSw2NS43MDMtNjEuMDYyLDEwNy4yNjEtNDMuNDc2YzYuNjExLDIuNzk4LDkuNzA0LDEwLjQyNiw2LjkwNiwxNy4wMzhjLTIuNzk5LDYuNjEyLTEwLjQyNSw5LjcwMy0xNy4wMzksNi45MDYgICAgIGMtMjguMzU0LTExLjk5OC02MS4xODYsMS4zMDktNzMuMTgzLDI5LjY2M0MxMzYuNjI5LDExNS40NDUsMTMxLjgxNSwxMTguNDI0LDEyNi43NSwxMTguNDI0eiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBzdHlsZT0iZmlsbDojQTg1N0NEIiBkYXRhLW9sZF9jb2xvcj0iIzAwMDAwMCI+PC9wYXRoPgoJCTwvZz4KCTwvZz4KPC9nPjwvZz4gPC9zdmc+") 10px center no-repeat;
    background-size: 16px;
}

.default-menu.navbar-light .navbar-toggler {
    border-radius: 0;
    border-width: 0;
    background-color: transparent;
}

.navbar-toggler i {
    font-size: 1.3em;
}

header li.nav-item:not(.desktop-search) a {
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    display: inline-block;
    letter-spacing: +.5px;
}

.default-menu.navbar-light .navbar-nav > li > a i {
    position: relative;
}

.default-menu.navbar-light .dropdown-menu {
    border: 0;
    padding: 0;
}

.default-menu .dropdown-menu > li > a {
    padding: 0 20px;
    left: 0.3px;
    word-spacing: 3px;
}

.default-menu.navbar-light .navbar-nav.navbar-left {
    margin-left: -15px;
}

/* mobile menu */
.attire-mbl-header {
    border-bottom: 1px solid #dddddd;
    position: fixed;
    width: 100%;
    z-index: 9999 !important;
    background: #ffffff;
}

.attire-mbl-header .gn-icon-menu {
    line-height: 48px;
    width: 48px;
    text-align: center;
    font-size: 24px;
    display: inline-block;
    color: var(--color-primary);
    border-right: 1px solid #dddddd;
    cursor: pointer;
}

#sticky-wrapper.is-sticky .attire-mbl-header {
    top: 0 !important;
}

#attire-mbl-menu .middle-logo {
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#attire-mbl-menu h1,
#attire-mbl-menu .site-logo.navbar-brand {
    display: block;
    max-width: 100%;
    color: #FFFFFF;
}

#attire-mbl-menu h1,
.attire-mbl-header .mbl-logo h1 {
    font-size: 100%;
    line-height: 48px;
    margin: 0;
    text-decoration: none;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#attire-mbl-menu {
    width: 300px;
    position: fixed;
    top: 0;
    left: -305px;
    height: 100vh;
    z-index: 99999;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#attire-mbl-menu .site-logo {
    margin: 0;
}

#attire-mbl-menu .site-logo img {
    max-width: 100%;
    width: auto;
    max-height: 64px;
    height: auto;
}

#attire-mbl-menu.active {
    left: 0;
}

.media.attire-mbl-header .mbl-logo img {
    height: 48px;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

#attire-mbl-menu li.menu-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

#attire-mbl-menu li.menu-item a {
    padding-left: 20px;
    display: block;
}

#attire-mbl-menu .dropdown-toggler {
    float: right;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

#attire-mbl-menu .dropdown .dropdown-menu {
    transition: all ease-in-out 300ms;
    margin-bottom: -2px;
}

#attire-mbl-menu .dropdown.active .dropdown-menu {
    display: block;
    border-left: 0;
    border-right: 0;
    box-shadow: none !important;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    top: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

/* mobile menu ends */

/* nav search */

.default-menu.navbar-light .list-search > li.dropdown-item {
    background-color: transparent;
}

.default-menu .dropdown-menu.list-search {
    border-bottom: 0;
}

.default-menu.navbar-light .nav-search .form-inline {
    position: relative;
}

/*	footer 1 */

.footer1 {
    padding-top: 0;
}

.footer1 .dark {
    font-weight: 200;
    padding: 40px 0;
}

.footer1 .footer-logo .site-logo {
    width: 64px;
    height: 64px;
}

.footer1 p {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.footer1 .dark.white .list-inline li.pull-right ul.list-inline li,
.footer1 .dark.white p {
    color: #888;
}

/*	footer 2 */

.footer2 {
    padding-top: 0;
}

.footer2 .dark {
    font-weight: 200;
    padding: 25px 0;
}

.footer2 .dark .footer-logo .site-logo {
    width: 64px;
    height: 64px;
}

.footer2 .dark p {
    color: #ffffff;
    display: inline-block;

    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 12px 0;
    text-transform: capitalize;
}

.footer2 .dark .list-inline ul li i {
    font-size: 13px;
    margin-right: 1px;
    margin-top: 12px;
}

/*	footer 3 */
.footer3 .navbar-brand,
.footer1 .navbar-brand {
    margin-right: 0;
}

.footer3 .dark {
    padding: 20px 0;
    font-weight: 200;
}

.footer3 .dark .footer-logo .site-logo {
    width: 120px;
}

.footer3 .dark p {
    display: inline-block;
    letter-spacing: 1px;
    margin: 12px 0;
}

.footer3 .dark .list-inline li i {
    font-size: 15px;
    margin-right: 1px;
}

/*	footer 4 */

.footer4 {
    padding-top: 0;
}

.footer4 .navbar-brand img.small {
    width: 30px;
}

.footer4 .dark {
    font-weight: 200;
}

.footer4 .dark .footer-logo .site-logo {
    width: 120px;
}

.footer4 .dark p {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    margin: 0;
    text-transform: capitalize;
    opacity: .8;
}

.footer4 .dark .list-inline li.pull-right ul.list-inline li {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}

/*Footer Widget*/
.footer-div {
    margin-top: 0;
}

.footer-widgets .col-lg .widget:first-child {
    padding-top: 20px;
}

.footer-widgets .col-lg .widget:last-child {
    padding-bottom: 20px;
}

.sidebar .widget {
    background: #ffffff;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #eee;
}

.widget input#searchsubmit {
    display: none;
}

.widget ol,
.widget ul {
    list-style: none;
    margin: 5px 0;
    padding-left: 0;
}

.widget-title {
    display: inline-block;
    letter-spacing: 0;
    margin-bottom: 8px;
    padding: 7px 15px;
    background: #435ec4;
    color: #ffffff;
    border-radius: 2px;
}

footer hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.09);
    margin: 1em 0;
    padding: 0;
}

#footer-menu {
    padding: 0;
}

#footer-menu li {
    padding-top: 0;
    padding-bottom: 0;
}

footer .dropdown-toggler {
    display: none;
}

a.footer-logo {
    text-decoration: none;
}

/*Header Footer Logo Size*/
/*.footer-logo, .site-logo {*/
/*max-height: 100px;*/
/*max-width: 200px;*/
/*}*/

/*.footer-logo img, .site-logo img {*/
/*max-height: 80px;*/
/*}*/

.post-tags a {
    background: rgba(0, 0, 0, 0.01);
    padding: 3px 15px;
    line-height: 25px;
    font-weight: 300;
    font-size: 13px;
    border: 1px solid #dddddd;
    margin-right: 4px;
    border-radius: 500px;
}

.post-tags::before {
    position: absolute;
    content: "\f02c";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    font-size: 44pt;
    margin-top: -34px;
    right: 6px;
    color: rgba(0, 0, 0, 0.07);
}

/* Post comments css*/

#comments ul,
#comments ol {
    list-style: none;
}

.mx_comments,
.single-post-author {
    margin-top: 30px;
}

.mx_comments h2 {
    margin-bottom: 0;
}

.commentlist {
    padding-left: 0;
}

.commentlist .card-footer a {
    text-decoration: none;
}

.comment-card .card-footer {
    padding: 7px;
}

.commentlist .card {
    margin-top: 15px;
}

.commentlist .card img.circle.pull-left {
    max-width: 96px;
}

.text-muted *:not(.btn) {
    color: #6c757d;
    text-decoration: none !important;
}

.comment-card .card-body {
    border: none;
    background: transparent;
    padding: 10px;
}

#commentform input,
#commentform textarea {
    margin-top: 5px;
    margin-bottom: 5px;
}

#commentform input[type=text] {
    width: 33%;
    display: inline-block;
}

.comment .card #respond {
    padding: 20px;
}

.commentlist .bypostauthor .card {
    border-color: #435ec4;
}

.widget ul li {
    margin: 0;
    padding-bottom: 10px;
    letter-spacing: 0;
    position: relative;
}

.sidebar .widget .widget-title {
    letter-spacing: 0.6px;
    margin-bottom: 13px;
}

/* Navbar search form */

.nav-search-form span {
    background: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.nav-search-form .search-field {
    display: none;
    padding: 0;
    width: 0;
    border-radius: 0;
    border: none;
}

.nav-search-form .input-group {
    max-height: 40px;
}

.nav-search-form button {
    background: transparent;
    border: none;
    cursor: pointer;
}

/* END: Navbar search form */

/* Back-to-top button */

.back-to-top {
    display: none;
    margin: 0;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    z-index: 9999;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.back-to-top i {
    font-size: 40px;
    color: #ffffff;
}

/* END: Back-to-top button */

/* Page Header */

.page_header_wrap {
    text-align: center;
    background-size: cover;
}

#cph_title {
    margin: 0 !important;
}

.page_header_wrap p#cph_description {
    font-size: 1.2em;
}

.page_header_wrap > * {
    height: auto;
}

/* END : Page Header */

/* WooCommerce*/

.woocommerce-cart-form .shop_table .coupon .input-text {
    width: 8.313rem;
}

.variations_form .variations .value > select {
    margin-bottom: 0.625rem;
}

.woocommerce-MyAccount-content .col-1,
.woocommerce-MyAccount-content .col-2 {
    max-width: 100%;
}

.woocommerce nav.woocommerce-pagination ul {
    border: none;
}

.woocommerce nav.woocommerce-pagination ul li {
    padding: 0 5px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: none;
}

/* END : WooCommerce*/

.desktop-search .list-search {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.post-navs.noshow {
    display: none;
}

/* Embedded video responsiveness*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.entry-content img,
.entry-content iframe,
.entry-content object,
.entry-content embed {
    max-width: 100%;
    margin-bottom: 20px;
}

/* END : Embedded video responsiveness*/

/*TODO : Finalize or remove*/
.bbp-forums {
    margin-top: 50px;
}

.search-result-title {
    margin-bottom: 20px;
}

a.subscription-toggle {
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px;
}

/* END: TODO*/
article.post .card .card-image {
    display: block;
    height: 224px;
    overflow: hidden;
    background: rgba(48, 67, 138, 0.03) url("images/icons/blank-images.svg") center center no-repeat;
    background-size: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

article.post .card .card-image img {
    height: 100%;
}

.post-content.card-text {
    min-height: 150px;
}

article.post.product {
    position: relative;
}

article.post.product:before {
    padding: 0 10px;
    font-family: FontAwesome;
    content: "\f07a";
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 16pt;
    background: black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

/* Full-Screen Search Overlay */
.overlay {
    padding-left: 20px;
}

.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper .mk-fullscreen-searchform input[type=submit] {
    position: absolute;
    width: 100px;
    height: 100%;
    background-color: transparent;
    border: 0;
    right: 0;
    top: 0;
}

.mk-fullscreen-searchform:focus {
    outline: none;
    border: none;
}

.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper .mk-fullscreen-searchform .fullscreen-search-icon {
    font-size: 25px;
    position: absolute;
    right: 15px;
    width: 25px;
    top: 30px;
    color: #fff;
    color: rgba(255, 255, 255, .2);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.fullscreen-search-icon:hover,
.fullscreen-search-icon:focus {
    border: none;
    outline: none;
    color: #fff !important;
    -webkit-transition: transform ease-out .2s;
    -moz-transition: transform ease-out .2s;
    -ms-transition: transform ease-out .2s;
    -o-transition: transform ease-out .2s;
    transition: transform ease-out .2s;
}

.mk-fullscreen-searchform {
    position: relative;
    verticle-align: middle;
}

.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper .mk-fullscreen-searchform .mk-fullscreen-search-input {
    width: 800px;
    background-color: transparent;
    -webkit-box-shadow: 0 3px 0 0 rgba(255, 255, 255, .1);
    -moz-box-shadow: 0 3px 0 0 rgba(255, 255, 255, .1);
    box-shadow: 0 3px 0 0 rgba(255, 255, 255, .1);
    border: 0;
    text-align: center;
    font-size: 35px;
    padding: 20px;
    color: #fff;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.mk-fullscreen-search-overlay
#mk-fullscreen-search-wrapper
.mk-fullscreen-searchform
.mk-fullscreen-search-input:focus {
    boder: none;
    outline: none;
}

.mk-fullscreen-search-overlay.mk-fullscreen-search-overlay-show {
    visibility: visible;
    opacity: 1;
}

.mk-fullscreen-search-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, .94);
    text-align: center;
    -webkit-transition: all ease-in-out .25s;
    -moz-transition: all ease-in-out .25s;
    -ms-transition: all ease-in-out .25s;
    -o-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;
}

.mk-animate-element,
.mk-effect-bg-layer,
.mk-fullscreen-search-overlay {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.mk-fullscreen-search-overlay {
    z-index: 999;
}

.mk-fullscreen-search-overlay .mk-fullscreen-close:link,
.mk-fullscreen-search-overlay .mk-fullscreen-close:visited {
    color: #fff;
}

.mk-fullscreen-search-overlay .mk-fullscreen-close {
    position: absolute;
    right: 50px;
    top: 70px;
    font-size: 26px;
    -webkit-transition: transform ease-out .2s;
    -moz-transition: transform ease-out .2s;
    -ms-transition: transform ease-out .2s;
    -o-transition: transform ease-out .2s;
    transition: transform ease-out .2s;
    transform: rotate(0deg);
}

.mk-fullscreen-search-overlay.mk-fullscreen-search-overlay-show #mk-fullscreen-search-wrapper {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    ms-transform: scale(1);
}

.mk-fullscreen-search-overlay #mk-fullscreen-search-wrapper {
    display: inline-block;
    max-width: 1000px;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

.mk-search-trigger {
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

/* Search Button */
#search-button {
    vertical-align: middle;
}

.navbar-bg #search-button i {
    color: #666 !important;
}

#search-button:hover,
.mk-fullscreen-close:hover {
    opacity: 0.6;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
}

.mk-fullscreen-search-input:focus {
    box-shadow: 0px 3px 0px 0px rgba(255, 255, 255, 0.54) !important;
}

/* END: Full-Screen Search Overlay */
.wpdm-thumb {
    background: #fff;
}

#wp-calendar {
    width: 100%;
    text-align: center;
}

#wp-calendar caption {
    font-weight: bold;
    text-align: center;
}

.commentlist .media-body {
    overflow: hidden;
}

/* categories card */
.w3eden .card .card-body {
    display: block;
}

.wpdm-card .card-body {
    padding: 25px;
}

.wpdm-card .archive-item .card-title.post-title a {
    font-size: 18px;
    font-weight: 600;
}

.wpdm-card .list-group-item {
    padding: 6px 0;
    border: none;
    font-size: 13px;
    font-weight: 600;
    color: #777;
}

.wpdm-card .list-group-item span {
    border: 1px solid rgba(0, 177, 130, 0.4);
    color: #00b182 !important;
    padding: 0 8px 2px;
    border-radius: 33px;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
}

.wpdm-card .list-group-item span a {
    color: #00b182 !important;
}

.wpdm-card .wpdm-title {
    margin-top: 0;
}

.wpdm-card .wpdm-title a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.wpdm-card .wpdm-product-price span {
    font-size: 15px;
    font-weight: 800;
    color: #4a8eff !important;
    border: none;
    letter-spacing: 0;
    line-height: 20px;
    padding-right: 0;
}

.wpdm-card .btn {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: +.5px;
    word-spacing: 2px;
    line-height: 28px;
}

/* ================================================================ */
/* Download Manager style */
/* ================================================================ */

/*=== Attire block cards ===*/
.att-block-card {
    background-color: #fff;
    box-shadow: 0 -20px 47px rgba(180, 182, 196, 0.22);
    margin-bottom: 30px;
}

.att-block-card .list-group-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.att-block-card .list-group-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.att-block-card .list-group-item {
    border: 1px solid #eee;
    border-top: 1px solid #e9e9e9 !important;
    font-weight: 600;
    letter-spacing: +.2px;
    opacity: .8;
    line-height: 14px !important;
}

.att-block-card .list-group-item > span {
    opacity: 1;
    color: #4a8eff;
    font-size: 13px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: +.5px;
}

.att-block-card .block-img {
    margin-bottom: 0 !important;
    border-radius: 4px 4px 0 0;
}

.att-block-card .block-body {
    padding: 25px;
}

.att-block-card .block-tag a:not(.btn) {
    color: #ff4c4c;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 2px;
    display: inline-block;
}

.att-block-card .block-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.att-block-card .block-detail {
    font-weight: 600;
    color: #666;
    opacity: .85;
    font-size: 13px;
    line-height: 20px;
}

.att-block-card .block-btn {
    background-color: #00b182;
    color: #fff !important;
    padding: 13px;
    display: inline-block;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1.1px;
    margin-top: 18px;
    border-radius: 3px;
}

.att-block-card .block-btn i {
    margin-left: 5px;
}

.att-block-card .block-btn:hover {
    text-decoration: none;
}

.att-block-card .flex-icon {
    font-size: 46px;
    margin-right: 15px;
    margin-top: 5px;
}

.att-block-card .flex-icon-2 {
    font-size: 40px;
    color: #00b182;
}

.att-block-card .flex-icon-1 {
    font-size: 60px;
}

.att-block-card .block-link {
    color: #00b182 !important;
    font-size: 11px;
    font-weight: 700;
    display: inline-block;
    margin-top: 10px;
}

.att-block-card .block-link i {
    margin-left: 5px;
}

.att-block-card .block-thumb img {
    border-radius: 50%;
    margin-left: auto;
    border: 2px solid #eee;
}

/* block 3 */
.att-block-card .block-title-sm {
    font-size: 15px;
}

.att-block-card .block-title-xs {
    font-size: 13px;
    margin-bottom: 5px;
}

/* block 6 */
.att-block-card .block-overlay {
    background-color: transparent;
    box-shadow: none;
}

.att-block-card .block-overlay img {
    border-radius: 4px;
}

.att-block-card .block-overlay .block-body {
    margin-left: 20px;
    margin-right: 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: -40px;
    z-index: 2;
    position: relative;
}

.att-block-card .block-info span {
    font-weight: 600;
    font-size: 12px;
    opacity: .7;
    margin-right: 4px;
}

/* block 8 */
.block-8 img {
    border-radius: 50%;
    margin-bottom: 0;
}

/* blocl 11 */
.block-11 img {
    margin-bottom: 0;
    margin-right: 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

/** WPDM Styles :: START **/
#theme-user-dashboard .panel-body .panel-row {
    display: flex;
}

#theme-user-dashboard.user-dashboard {
    background-color: transparent;
    padding: 0px;
    border-radius: 6px;
    margin-top: 20px;
}

#theme-user-dashboard.user-dashboard .table thead th {
    border-bottom: 1px solid #e5e5e5;
}

#theme-user-dashboard.user-dashboard .table thead th:last-child,
#theme-user-dashboard.user-dashboard .table tbody td:last-child {
    text-align: right;
}

#wpdm-dashboard-sidebar #tabs,
#theme-user-dashboard #wpdm-dashboard-sidebar {
    padding: 15px;
    width: 240px;
    background: #354788;
    border-radius: 4px;
    margin-right: 25px;
    max-width: 100%;
}

#theme-user-dashboard #wpdm-dashboard-sidebar .adp-item i {
    border-radius: 30px;
    box-shadow: none !important;
    padding-left: 2px;
}

#theme-user-dashboard #wpdm-dashboard-sidebar .udb-item, .w3eden #wpdm-dashboard-sidebar .adp-item {
    font-size: 12px;
    letter-spacing: +.6px;
    font-weight: 500;
    color: #c5cde0;
}

#theme-user-dashboard .udb-item.selected {
    color: #97f27d !important;
}

#theme-user-dashboard.user-dashboard #wpdm-dashboard-sidebar i {
    color: rgba(255, 255, 255, 0.3) !important;
}

#theme-user-dashboard #wpdm-dashboard-sidebar .udb-item.selected i {
    color: #ffffff !important;
    background: rgba(255, 255, 255, 0.2) !important;
}

#theme-user-dashboard i.udbsap {
    width: 34px;
    background: rgba(255, 255, 255, 0.5);
}

#theme-user-dashboard #wpdm-dashboard-sidebar h3 {
    font-family: var(--wpdm-font);
    letter-spacing: 0;
    font-size: 14px;
    color: #fff;
    margin: 15px 0 15px 0;
    font-weight: 700;
}

#theme-user-dashboard #wpdm-dashboard-sidebar #logo-block img {
    border-radius: 6px;
    border: 1px solid rgba(69, 89, 122, 0.5);
}


#theme-user-dashboard .card {
    overflow: visible;
    background: #fff !important;
    border-color: #e5e5e5;
}

#theme-user-dashboard .card h3 {
    font-weight: 500;
    letter-spacing: 1px;
}

#theme-user-dashboard #wpdm-dashboard-contents .nav-tabs a {
    color: #00b182;
    opacity: .4;
}

#theme-user-dashboard #wpdm-dashboard-contents .nav-tabs a.active {
    color: #00b182;
    opacity: 1;
}

#theme-user-dashboard #wpdm-dashboard-contents .nav-tabs a:hover {
    color: #00b182;
    opacity: .7;
}

#theme-user-dashboard .card-header {
    padding: 15px 20px 15px;
    background-color: transparent;
    color: #666;
    font-weight: 500;
}

#theme-user-dashboard .card-body {
    padding: 20px;
}

#theme-user-dashboard .card-body img {
    margin: 0;
}

#theme-user-dashboard .card-body h3 {
    margin: 0;
    font-size: 16px;
    color: #666;
}

#theme-user-dashboard .table td,
#theme-user-dashboard .table th {
    padding: 12px 20px;
}

.wpdm-rec-item a {
    font-weight: 500;
}

/* purchase */
.w3eden .card h3.wpdmpp-product-price {
    margin-bottom: 10px;
}

#theme-user-dashboard .card .card-footer {
    border-color: #e5e5e5;
}

.wpdmpp-all-orders-title {
    font-size: 18px;
}

#theme-user-dashboard .card-header {
    padding-bottom: 10px;
}

#theme-user-dashboard .card-header .pull-right {
    float: right;
    font-size: 11px;
    font-weight: 700;
    word-spacing: 3px;
}

#theme-user-dashboard .card .card-footer {
    font-size: 12px;
    color: #777 !important;
}

#theme-user-dashboard .card .card-footer:hover {
    color: #666666 !important;
}

.item:last-child td {
    border-bottom: 0 !important;
}

/** WPDM Styles :: END **/

/** Gutenberg CSS **/
nav.long-nav.navbar.navbar-expand-lg.navbar-light.navbar-dark.default-menu.justify-content-between.stickable.container-fluid {
    z-index: 999 !important;
}

.wpdm-new-card .btn {
    padding: 13px 20px;
    font-weight: 500;
}

.wpdm-new-card form,
.wpdm-new-card .btn {
    width: 100%;
}

.single-wpdmpro .card img {
    box-shadow: none;
}

.gigs-body label {
    font-weight: 400;
}

.w3eden .media.well.link-template-widget {
    background: rgba(0, 0, 0, 0.07) !important;
}

#gallery-1 .gallery-item {
    margin: 0 10px 10px 0 !important;
    width: calc(33.33% - 10px) !important;
}

.gallery-item img {
    border: 0 !important;
    border-radius: 3px;
}

article.post .card .card-image {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.wp-block-button__link {
    color: #ffffff !important;
}

.wp-block-coblocks-hero__content-wrapper {
    width: 1100px;
    margin: 0 auto;
}

.footer-widget.widget a {
    display: block;
    font-size: 10pt;
    font-weight: 600;
    line-height: 1.4;
}

.footer-widgets * {
    color: #ffffff !important;
}

.footer-widgets .post-date {
    font-size: 11px;
    opacity: 0.6;
    letter-spacing: 1px;
    line-height: 10px;
}

.attiire-featured-media {
    background: linear-gradient(45deg, #5a46bd, #6679c4bf);
    color: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.card.woo-product-card img,
.attiire-featured-media img {
    margin: 0;
}

.attiire-featured-media h2 {
    margin: 0 0 10px 0;
    font-size: 16pt !important;
}

.attiire-featured-media * {
    color: #ffffff !important;
    text-align: center
}

.wp-block-column:last-child .attiire-featured-media {
    background: linear-gradient(45deg, #46bdb2, #2981dfc4);
}

.attiire-featured-media .wp-block-button__link {
    padding: 8px 20px;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    opacity: 0.4 !important;
    margin: 0 10px;
    width: calc(100% - 20px) !important
}

/** Gutenberg CSS :: END **/