.woocommerce-loop-product__title{
    margin: 0 0 5px 0;
    font-size: 12pt;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    font-size: 11pt;
}
.added_to_cart.wc-forward {
    position: absolute;
    z-index: 99;
    top: 75%;
    right: 10px;
    text-transform: uppercase;
    font-size: 13px;
}
.woo-product-card{
    border-radius: 4px;
    overflow: hidden;
}
.woo-product-card a{
    text-decoration: none !important;
}
.woocommerce span.onsale {
    left: 10px;
    top: 10px;
    min-height: 24px !important;
    line-height: 24px !important;
    padding: 0 10px !important;
    border-radius: 2px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    background: var(--green);
}
.woocommerce .product-subtotal {
    text-align: right;
}
.woocommerce th.product-remove {
    width: 30px;
}
.button.card-footer.bg-primary.btn.btn-primary.btn-block.border-0.p-3{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.button.card-footer.bg-primary.btn.btn-primary.btn-block.border-0.p-3.loading:after{
    top: 1.1em !important;
}
.woocommerce table{
    padding: 0;
    border-spacing: 0 !important;
    background: #ffffff;
}
.woocommerce table th,
.woocommerce table td{
    border-top: 0 !important;
}
table.variations {
    background: transparent;
}
table.variations td, table.variations tr {
    border: 0 !important;
    vertical-align: middle;
    text-transform: capitalize;
}
table.variations label{
    margin: 0;
}
.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
    margin-left: 0;
    padding: 20px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.woocommerce-table.woocommerce-table--order-details.shop_table.order_details {
    border: 1px solid rgba(0, 0, 0, 0.06);
}
.woocommerce-table.woocommerce-table--order-details.shop_table.order_details tr:last-child th,
.woocommerce-table.woocommerce-table--order-details.shop_table.order_details tr:last-child td{
    border-bottom: 0 !important;
}
.woocommerce-table.woocommerce-table--order-details.shop_table.order_details thead th {
    padding: 13px;
    border-bottom: 1px solid rgba(0,0,0,0.04) !important;
    font-weight: 600;
}
.woocommerce table.shop_table,
.woocommerce table.shop_table th,
.woocommerce table.shop_table td
{
    border: 0;
}
.woocommerce table.shop_table th{
    background: rgba(0,0,0,0.04);
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}
.woocommerce table.shop_table td{
    border-bottom: 1px solid rgba(0,0,0,0.04);
}
.woocommerce table.cart .quantity .qty{
    width: 60px !important;
    padding: 3px 5px !important;;
    border-radius: 2px !important;
    font-size: 11px;
    border: 1px solid rgba(0,0,0,0.1);
}
.woocommerce #content table.cart img, .woocommerce table.cart img, .woocommerce-page #content table.cart img, .woocommerce-page table.cart img{
    margin: 0;
}
.woocommerce input#coupon_code{
    width: 125px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
}
.woocommerce .button{
    color: rgba(255,255,255,0.8) !important;;
}
.woocommerce .button:hover{
    color: rgba(255,255,255,2) !important;;
}
.woocommerce .button:disabled:hover{
    background: #435ec4 !important;;
}
.woocommerce  .cart-collaterals h2{
    margin: 0;
    background: rgba(0,0,0,0.07);
    padding: 10px;
    font-weight: 600;
    font-size: 11pt;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px 3px 0 0;
}
.woocommerce  .cart-collaterals .shop_table.shop_table_responsive td{
    border-top: 0;
    border-right: 1px solid rgba(0,0,0,0.05);
}
.woocommerce  .cart-collaterals label{
    font-weight: 400 !important;
}
.woocommerce  .cart-collaterals strong{
    font-weight: 500 !important;
}
.woocommerce .cart-collaterals table.shop_table {
    border-radius: 0 0 3px 3px;
    overflow: hidden;
}

/***
Checkout
 */
.checkout.woocommerce-checkout label,
.checkout.woocommerce-checkout .woocommerce-input-wrapper{
    display:block;
    width: 100%;
    float: none;
}
.checkout.woocommerce-checkout label{
    font-weight: 500;
    font-size: 12px;
    margin: 0;
}
.checkout.woocommerce-checkout h3{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    background: rgba(0,0,0,0.03);
    padding: 10px;
    color: #435ec4;
    border-bottom: 3px solid #435ec4 !important;;
}
.checkout.woocommerce-checkout .shop_table.woocommerce-checkout-review-order-table{
    border: 0;
    background: rgba(28, 74, 168, 0.79);
    padding: 0px !important;
    color: #fff;
    border-spacing: 0 !important;
}
.checkout.woocommerce-checkout .shop_table.woocommerce-checkout-review-order-table *{
    color: #fff;
}
.checkout.woocommerce-checkout .shop_table.woocommerce-checkout-review-order-table th,
.checkout.woocommerce-checkout .shop_table.woocommerce-checkout-review-order-table td{
    margin: 0;
    border-top: 0;
    border-spacing: 0 !important;
    background: transparent !important;;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 10px 15px;
}
.checkout.woocommerce-checkout .shop_table.woocommerce-checkout-review-order-table tr:not(.cart_item):last-child td,
.checkout.woocommerce-checkout .shop_table.woocommerce-checkout-review-order-table tr:last-child th{
    border: 0;
}
.checkout.woocommerce-checkout .shop_table.woocommerce-checkout-review-order-table thead{
    background: rgba(0,0,0,0.06) !important;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.checkout.woocommerce-checkout .cart-subtotal{
    background: rgba(0,0,0,0.03) !important;
}
.checkout.woocommerce-checkout  .order-total{
    background: rgba(0,0,0,0.06) !important;
}

#bestseller {
    padding: 5px 25px 0 25px;
    background:
            #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px
    rgba(0,0,0,0.06);
    border: 1px solid
    rgba(0,0,0,0.1);
}
#bestseller img,
#bestseller .btn{
    border-radius: 4px !important;
}
#bestseller .card-body{
    padding: 15px 0 10px 0;
}